* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  
}
.App
{
  background-color: #F9F7F7;
  height: 100%;
}
html
{
  font-size: 62.5%;
}
body{
	font-size: 15px;
	text-rendering: optimizeLegibility;
	overflow-x: hidden;
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
}

.bookcard
{
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}
@media (min-width: 600px) {
  .bookcard { grid-template-columns: repeat(2, 1fr); }
}
@media (min-width: 900px) {
  .bookcard { grid-template-columns: repeat(6, 1fr); }
}
.BookTitle
{
   display:inline-block;
  height: 2rem;
  white-space: nowrap; 
  width: 98%;
  overflow: hidden !important;
  text-overflow: ellipsis;
  
}
.bookGenre
{
  overflow: scroll;
}
.BookTitle,.BookTitle:focus,.BookTitle:active
{
  text-decoration: none;
  color: "#112D4E",
}
.BookTitle:hover,.BookTitleLink
{
  text-decoration: none;
  color: #112D4E;
  cursor: pointer;
  transition: 0.5s;
}
.bookdetailscard
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}

.cardContent
{
height: 9rem;
margin-left: -0.8rem;
}
.bookdetails:hover
{
  cursor:default
}
.detailbutton
{
margin-left: 0.7em;
margin-bottom: 0.2em;
}
.BookPrice
{
color: rgb(188, 35, 35);
font-weight: 600;
}
.imgdiv
{
  text-align: center;
}
.imgclass
{
	width:90%;
  position: relative;
  overflow: hidden;
	height: 19rem;
  margin-top: 0.2em;
  border-radius: 0.3em;
}
.CartButton
{
  background-color: #EDF1D6;
  padding-top: 0.5em; 
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 0.2em;
  border-radius: 0.4em;
  border:2px solid #228ce6;
  color: #40513B;
  background-color: #ffffff;
}
.CartButton:hover
{
background-color: #228ce6;
color: #EDF1D6;
border: 2px solid #228ce6;
transition-duration: 0.5s;
}
.mainbook-div
{
    background-color: #F9F7F7;
    font-size: 1.5rem;
    padding-top: 4%;
}
.bookInfo
{
  align-items: center;
}
.ImgBokcl
{
margin-left: 7rem;
}
.BookImg
{
  height: 60rem;
  width: auto;
}
