
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #F9F7F7;

  /* Because we want header to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}


.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}
.nested-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2.8rem;
  
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #112D4E;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #1f74cf;
}

.logo 
{
	height: 6.5rem;
	width: auto;
}
.nav-brand
{
  font-size: 150%;
  margin-top: 1.5rem;
  color: #228ce6;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.3s;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #2291e6;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #1f71cf;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* STICKY NAVIGATION */
.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 8rem;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.sticky .section-hero {
  margin-top: 9.6rem;
}

.inputfield
{
  padding: 2%;
  border: 2px solid #228ce6;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1.8rem;
  width: 100%;
}

.SearchIcon svg
{
  margin-left: 1.5%;
  align-items: center;
}

.cartcount
{
  background-color: red;
  color: #EDF1D6;
  padding: 2%;
  margin-top: -55%;
  margin-left: 45%;
  width:20%;
  border-radius: 5px;
  text-align: center;
}
