
.navigationbar
{
    /*background-color: #b3f4b9;*/
    background-color: #F9F7F7;
    display: flex;
    justify-content: space-between;
    align-items: center;
  /* Because we want header to be sticky later */
    height: 7.6rem;
    padding: 0 4.8rem;
    position: relative;
}
.NavBrand
{
  font-size: 150%;
  margin-top: 1.5rem;
  color: #228ce6;
  margin-left: 8rem;
}
.NavList{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3rem;
}
.NavList li
{  
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}
.NavIcons
{
margin-top: 1.5%;
}
.SearchIcon svg
{
  margin-left: 1.5%;
  align-items: center;
}
.Account-Status
{
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #228ce6;
}

.NavLink,.NavLink:focus,.NavLink:active
{
  text-decoration: none;
  color: #112D4E;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}
.NavLink:hover
{
  text-decoration: none;
  /*color: #5d99e3;*/
   color: #1f9dcf;
}


.inputfield
{
  padding: 2%;
  border: 2px solid #228ce6;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1.8rem;
  width: 80%;
}

.logo {
	height: 6.5rem;
	width: auto;
	float: left;
  margin-top: 1%;
  margin-left: 1.5%;
}

.cartcount
{
  background-color: red;
  color: #EDF1D6;
  padding: 2%;
  margin-top: -55%;
  margin-left: 45%;
  width:20%;
  border-radius: 5px;
  text-align: center;
}
